@import "tailwindcss";

@theme {
    --font-mono: "JetBrains Mono", "Noto Sans SC", monospace;

    --animate-loader-spin: loader-spin 1.5s linear infinite;

    @keyframes loader-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
