name: Build

on:
    push:
        branches: [main]
        paths:
            - "plugin/**"
            - ".github/workflows/build.yml"
    pull_request:
        branches: [main]
        paths:
            - "plugin/**"
            - ".github/workflows/build.yml"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: plugin

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up JDK 21
              uses: actions/setup-java@v5
              with:
                  java-version: "21"
                  distribution: "temurin"

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5

            - name: Build with Gradle
              working-directory: plugin
              run: |
                  ./gradlew build
                  cp lib/build/libs/lib.jar ./DiscordMinecraftLink.jar

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: DiscordMinecraftLink
                  path: plugin/DiscordMinecraftLink.jar
