name: Deploy

on:
    push:
        branches: [main]
        paths:
            - "server/**"

jobs:
    deploy:
        runs-on: ubuntu-latest
        name: Deploy
        steps:
            - uses: actions/checkout@v6
            - name: Setup pnpm
              uses: pnpm/action-setup@v4
              with:
                  run_install: false
                  package_json_file: server/package.json
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 20
                  cache: "pnpm"
            - name: Install dependencies
              working-directory: server
              run: pnpm install
            - name: Run migrations
              working-directory: server
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
              run: pnpm migrate
            - name: Deploy to Cloudflare Workers
              working-directory: server
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
              run: pnpm run deploy
